
doctype html
html(lang="en")
body
  h1 Demande de réservation
  p Le client #{booking.customer.firstName} #{booking.customer.lastName} a fait une demande de réservation du #{booking.start} au #{booking.end}

  p Voici les informations détaillées du client:
  ul
    li Nom: #{booking.customer.firstName} #{booking.customer.lastName}
    li Email: #{booking.customer.email}
    li Téléphone: #{booking.customer.phone}
    li message: #{booking.message}

  p Voici les informations détaillées pour la location:
  ul
    li Début: #{booking.start}
    li Fin: #{booking.end}
    li Adulte(s): #{booking.totalAdults}
    li Enfant(s): #{booking.totalKids}
    if booking.cleaning
      li Ménage: Oui
    else
      li Ménage: Non

  p Merci d'aller dans l'adminstration pour refuser ou accepter la demande de location
